@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


html{
  height: 100%;
  width:100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width:100%;
}

code {
  font-family: 'Roboto', sans-serif;
}
#root{
  height: 100%;
  width:100%;
}